body{
    background-color: rgb(255, 255, 255);
    font-family: 'Russo One', sans-serif;
    margin: 0;
    padding: 0;
}

.section01{
background-image: url(Images/top-banner.png);
background-repeat: no-repeat;
 display: flex;
 width: 100%;}



                .welcome-text01{
                    width: 50%;
                    padding-left: 105px;
                    padding-right: 20px;}

                h1{
                    font-size: 50px;
                    font-weight: 100;}

                h3{
                    font-weight: 100;}

                .welcome-text01 span{
                    color: #ffa500;
                    font-weight: 800;}

                p{
                    font-weight: 100;
                    margin-bottom: 30px;
                    font-family: Arial, Helvetica, sans-serif;}
                
                .welcome-text01 a{
                    padding: 10px 40px;
                    background-image: linear-gradient( to left, tomato, rgb(255, 0, 0));
                    text-decoration: none;
                    font-weight: 900;
                    color: white;
                    border-radius: 5px;}

                                .welcome-text02 img {
                                    width: 85%;
                                }

.section02{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    width: 100%;}


                        .my-dream01{
                            width: 50%;
                            padding-left: 90px;
                        }

                        .my-dream01 img{
                        width: 85%;
                        }

                            .my-dream02{
                                width: 50%;}

                            .my-dream02 p{
                                padding-right: 140px;}

                            .my-dream02 a{
                                padding: 10px 20px;
                                background-image: linear-gradient( to right, tomato, rgb(255, 0, 0));
                                text-decoration: none;
                                font-weight: 900;
                                color: white;
                                border-radius: 5px;}

#riyad{
    background-image: linear-gradient(to right, tomato, white );
    padding-left: 60px;
    margin: 50px 0px 0px 0px ;
    }

    .section03{
    width: 100%;
    display: flex;
    margin: 0;

    }

            .all-skills-style{
                background-image: linear-gradient(to left, white, red);
                padding: 5px 5px;
                color: white;
                border-radius: 6px;
            }
                        .skills01{
                        width: 40%;
                            margin-left: 6%;
                        }




.section04{
background-image: url(Images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
display: flex;
width: 100%;
margin: 0;
padding-left: 50px;
}


        .graphic-designer{
        width: 40%;
        height: 400px;
        box-shadow: 0px 0px 40px 0px gray;
        margin: 3%;
        font-family: arial;
        padding-left: 30px;
        border-radius: 10px;
        border-left: 10px solid;
        border-image: linear-gradient(to top, white, red);
        border-image-slice: 1;
        
     }   
    

                .graphic-designer p{
                    padding-right: 50px;
                }

                            .graphic-designer h1{
                                color: #ff468f;
                                font-weight: bold;
                            }

footer{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}